.about-section {
  min-height: calc(100vh - var(--header-height));
  display: grid;
  place-items: center;
  background-color: var(--bg-secondary-color);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: center;
}

.about-image {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--border-color);
  box-shadow: 3px 30px 1440px 10px var(--photo-shadow);
  justify-self: center;
}

/* wspólny styl narożnika */
.about-image::before,
.about-image::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid var(--primary-color);
}

/* lewy górny */
.about-image::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

/* prawy dolny */
.about-image::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.about-image .corner {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid var(--primary-color);
}

.about-image .corner.tl {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.about-image .corner.tr {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.about-image .corner.bl {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.about-image .corner.br {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
.about-image .corner.tr,
.about-image .corner.bl {
  border-color: var(--image-corner-color2);
}

.about-text h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 20px;
  color: var(--text-color);
}

.about-text p {
  color: var(--about-me-text-color);
  margin-bottom: 15px;
  max-width: 60ch;
}

p.highlight-paragraph {
  color: var(--highligted-text);
  max-width: 60ch;
  font-weight: 500;

  background-color: transparent;
  border-left: 3px solid var(--highlighted-border);
  padding-left: 25px;
  margin: 30px 0;
  font-style: italic;
}
