.contact-section {
  text-align: center;
  background-color: var(--bg-secondary-color);
}

.contact-subtitle {
  max-width: 600px;
  margin: -40px auto 40px;
  color: var(--text-secondary-color);
}

.contact-button {
  font-size: 1.2rem;
}

.social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-links a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: 700;
  transition: color var(--transition-speed) ease;
}

.social-links a:hover {
  color: var(--primary-color);
}

.section-title {
  width: 100%;
  text-align: center;
}
